<div class="container my-5 p-5" style="background-color: #2836a5; border-radius: 0px; padding:3.5rem;" data-controller="filter">
  <h1 class="my-5 text-white" style="font-family: 'Lovelo', sans-serif;">Inbox</h1>
  <div class="d-flex justify-content-around mb-5">
    <div>
      <button type="button" class="active magicb" data-action="filter#filter" data-filter="booked" data-filter-target="button">Your Questions</button>
    </div>
    <div>
      <button type="button" class="magicb2" data-action="filter#filter" data-filter="questions" data-filter-target="button">Your Answer</button>
    </div>
  </div>
  <div data-filter-target="booked">
    <h3 class="text-white" style="font-family: 'Lovelo', sans-serif;">Chats of your booked Workshops</h3>
    <% if @bookings.empty? %>
      <p class="text-white" style="font-family: 'Lovelo', sans-serif;">Wow...looks like you never contacted the person that created the Workshop you booked. If you like, you can do it in the section "My Booked Workshops" ;) Look up in the Navbar ;)</p>
    <% else %>
      <ul class="list-group" style="border-radius: 0px;">
        <% @bookings.each do |booking| %>
          <li class="list-group-item mb-2" style="border-radius: 0px; transition: transform 0.3s;" onmouseover="this.style.transform='scale(1.05)'" onmouseout="this.style.transform='scale(1)'">
            <%= link_to chat_workshop_booking_path(booking.workshop, booking), style: "font-family: 'Lovelo', sans-serif; color:black; text-decoration: none;" do %>
              <%= "#{booking.workshop.user.name} - #{booking.workshop.title}" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="d-none" data-filter-target="questions">
    <h3 class="mt-4 text-white" style="font-family: 'Lovelo', sans-serif;">Answer messages about your Workshop</h3>
    <ul class="list-group">
      <% @workshops.each do |workshop| %>
        <% workshop.bookings.each do |booking| %>
          <% if booking.messages.count > 0 %>
            <li class="list-group-item mb-2" style="border-radius: 0px; transition: transform 0.3s;" onmouseover="this.style.transform='scale(1.05)'" onmouseout="this.style.transform='scale(1)'">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <%= link_to chat_workshop_booking_path(booking.workshop, booking), style: "font-family: 'Lovelo', sans-serif; color:black; text-decoration: none;" do %>
                    <%= "#{booking.user.name} - #{booking.workshop.title}" %>
                  <% end %>
                </div>
              </div>
            </li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
    <% if @workshops.none? { |workshop| workshop.bookings.any? { |booking| booking.messages.count > 0 } } %>
      <p class="text-white" style="font-family: 'Lovelo', sans-serif;">Seems like nobody wrote you a message about your Workshops :) I am sure you wrote a really good description! I am proud of you! :)</p>
    <% end %>
  </div>
</div>
