<div class="container my-5" style="background-color: #2836a5; border-radius: 25px; padding:3.5rem;">
  <h1 class="text-white">Inbox</h1>
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-white">Messages of your booked Workshops</h3>
      <% if @bookings.empty? %>
        <p class="text-white">Wow...looks like you never contacted the person that created the Workshop you booked. If you like, you can do it in the section "My Booked Workshops" ;) Look up in the Navbar ;)</p>
      <% else %>
        <ul class="list-group rounded-5">
          <% @bookings.each do |booking| %>
            <li class="list-group-item rounded-5 mb-2" style="transition: transform 0.3s;" onmouseover="this.style.transform='scale(1.05)'" onmouseout="this.style.transform='scale(1)'">
              <%= link_to "#{booking.workshop.user.name} - #{booking.workshop.title}", chat_workshop_booking_path(booking.workshop, booking), style:"color:black; text-decoration: none;" %>
            </li>
          <% end %>
        </ul>
      <% end %>
      <h3 class="mt-4 text-white">Answer messages about your Workshop</h3>
      <ul class="list-group rounded-5">
        <% @workshops.each do |workshop| %>
          <% workshop.bookings.each do |booking| %>
            <% if booking.messages.count > 0 %>
              <li class="list-group-item rounded-5" style="transition: transform 0.3s;" onmouseover="this.style.transform='scale(1.05)'" onmouseout="this.style.transform='scale(1)'">
                <%= link_to "#{booking.user.name} - #{workshop.title}", chat_workshop_booking_path(workshop, booking), style:"color:black; text-decoration: none;" %>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
      <% if @workshops.none? { |workshop| workshop.bookings.any? { |booking| booking.messages.count > 0 } } %>
        <p class="text-white">Seems like nobody wrote you a message about your Workshops :) I am sure you wrote a really good description! I am proud of you! :)</p>
      <% end %>
    </div>
  </div>
</div>
