// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers


// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Lovelo";
  src: font-url('Lovelo/Lovelo-Black.eot');
  src: font-url('Lovelo/Lovelo-Black.eot?#iefix') format('embedded-opentype'),
       font-url('Lovelo/Lovelo-Black.woff') format('woff'),
       font-url('Lovelo/Lovelo-Black.ttf') format('truetype')
}


$my-font: "Lovelo";

$headers-font: $my-font;
$body-font: "Arial", "Helvetica", "sans-serif";
