<p>Hi <%= @user.name %>,</p>

<p>We look forward to seeing you get inspired! Or are you inspiring others?
Either way, we are happy to have you and you have made it to the cool side of the internet!
Let's gather inspiration! :)</p>

<p>Kindest regards,</p>
<p>the Inspiration Gathered Team</p>
