<div class="container mt-1 min-vh-100">
  <h1>Workshops to Review</h1>
  <div class="col-md-12 p-5">
    <% if @workshops_to_review.any? %>
    <% @workshops_to_review.each do |workshop| %>
      <div class="card mb-3">
        <div class="card-body">
          <h2><%= link_to workshop.title, workshop_path(workshop), style: "text-decoration: none; color: inherit;" %></h2>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>All workshops have been published.</p>
  <% end %>
  </div>
</div>
