<div class="footer">
  <div class="container">
    <div class="row">
    <div class="col-md-4 first-row">
      <h4>Contact us</h4>
      <ul class="no-list-style">
        <li>Address: Lindenstraße 14, 10969 Berlin</li>
        <li>Phone:+49 (0) 456 7890</li>
        <li>Email: info@website.de</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h4>Info</h4>
      <ul class="no-list-style">
        <li><a href="#">About</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <h4>Follow Us</h4>
      <div class="footer-links">
        <a href="https://www.instagram.com/inspirationgathered/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/inspirationgathered" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.linkedin.com/company/inspiration-gathered/" target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>
  </div>
</div>
