<div class="footer">
  <div class="container">
    <div class="row">
    <div class="col-md-4 first-row">
      <h4 style="font-family: 'Lovelo', sans-serif">Attribution</h4>
      <ul class="no-list-style">
        <li style="font-family: 'Lovelo', sans-serif">Developed by <%= link_to "Michele Di Stadio", "https://dsm-portfolio.vercel.app/", target: "_blank", rel: "noopener noreferrer" %></li>
      </ul>
    </div>
    <div class="col-md-4">
      <h4>Info</h4>
      <ul class="no-list-style">
        <li><a href="#" style="font-family: 'Lovelo', sans-serif">About</a></li>
        <li><a href="#" style="font-family: 'Lovelo', sans-serif">FAQ</a></li>
        <li><a href="#" style="font-family: 'Lovelo', sans-serif">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <h4 style="font-family: 'Lovelo', sans-serif">Follow Us</h4>
      <div class="footer-links">
        <a href="https://www.instagram.com/inspirationgathered/" class="instagram" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/inspirationgathered" style="margin-left: 2rem;" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.linkedin.com/company/inspiration-gathered/" style="margin-left: 2rem;" target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>
  </div>
</div>
