.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link{
  font-family: 'Lovelo', sans-serif;
}

@media screen and (max-width: 685px) {
  .nav-link {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 625px) {
  .nav-link {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 575px) {
  .nav-link {
    font-size: 1rem;
  }
}
