<table width="100%" cellpadding="0" cellspacing="0" border="0" style="background:#f8f8f8; padding:0; margin:0;">
  <tr>
    <td align="center" style="padding:24px 0 12px 0;">
      <%= image_tag "http://res.cloudinary.com/do8wdblfk/image/upload/v1757614721/foqwhvwjydrtgayteovg.jpg", alt: "Inspiration Gathered Logo", style: "width:100%; max-width:200px; height:auto; display:block; margin:0 auto;" %>
    </td>
  </tr>
  <tr>
    <td align="center">
      <table width="90%" cellpadding="0" cellspacing="0" border="0" style="background:#fff; border:1px solid #d70c99; padding:20px; border-radius:5px; box-shadow:0 0 10px rgba(0,0,0,0.1); margin:0 auto; text-align:center;">
        <tr>
          <td>
            <p style="margin:0 0 16px 0; font-size:18px;">Hello <span style="font-weight:bold; color:#d70c99;"><%= @resource.name %></span>!</p>
            <% if @resource.try(:unconfirmed_email?) %>
              <p style="margin:0 0 16px 0;">
                We're contacting you to notify you that your email is being changed to <span style="font-weight:bold;"><%= @resource.unconfirmed_email %></span>.
              </p>
            <% else %>
              <p style="margin:0 0 16px 0;">
                We're contacting you to notify you that your email has been changed to <span style="font-weight:bold;"><%= @resource.email %></span>.
              </p>
            <% end %>
            <p style="margin:0 0 8px 0; color:#888; font-size:13px;">
              If you did not request this change, please contact our support team immediately.
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td align="center" style="padding:16px 0;">
      <p style="margin:0 0 8px 0;">Follow us on social media for more inspiration:</p>
      <a href="https://www.linkedin.com/company/inspiration-gathered/posts/?feedView=all" style="margin:0 8px; color:#d70c99; text-decoration:none;">LinkedIn</a>
      <a href="https://www.facebook.com/inspirationgathered" style="margin:0 8px; color:#d70c99; text-decoration:none;">Facebook</a>
      <a href="https://www.instagram.com/inspirationgathered/" style="margin:0 8px; color:#d70c99; text-decoration:none;">Instagram</a>
    </td>
  </tr>
</table>
